[Unit]
Description=Disable NIC power management and offloading for Mesa 7i76e
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ethtool -s enp3s0 wol d
ExecStart=/usr/sbin/ethtool -K enp3s0 gro off gso off tso off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
